@import '../@theme/styles/themes';

@include nb-install-component() {
	::ng-deep router-outlet + * {
		display: block;
		animation: fade 1s;

		@keyframes fade {
			from {
				opacity: 0;
			}

			to {
				opacity: 1;
			}
		}
	}
}
.notification-header{
	background-color: rgb(61, 200, 243);
	background-image: linear-gradient(to right,white,rgb(61, 200, 243),white);
	text-align: center;
	font-weight: 500;
	align-items: center;
  }